# 忽略 Python 虚拟环境
_env/
venv/
*.egg-info/

# 忽略 Python 编译缓存
__pycache__/
*.pyc

# 忽略模型文件和大文件
*.pt
*.pth
*.onnx
*.pkl
*.dylib
*.so

# Jupyter 和编辑器文件
.ipynb_checkpoints/
.vscode/
.idea/

# 忽略大模型和中间结果
*.log
*.npy
*.npz

# 数据文件（根据需要）
# *.csv
*.h5
*.hdf5
